*~
*.a
*.la
*.lo
*.log
*.o
*.Plo
*.so
*.sum
*.tmp
*.Tpo
.deps
.gdb_history
.libs
site.exp
site.bak
aclocal.m4
autom4te.cache
config.guess
config.h
config.h.in
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
Makefile
Makefile.in
mbfl/EastAsianWidth.txt
missing
stamp-h1
tests/conv_encoding
tests/conv_kana
tests/strcut
tests/strwidth
tests/conv_encoding.tests/CP932.TXT
tests/conv_encoding.tests/uni_to_cp932.exp
tests/conv_encoding.tests/gen_exp
